/*
PROJET:
DE: Daniel Paré
LE: 26/06/2015 */
/*! normalize.css v1.1.3 | MIT License | git.io/normalize */
/* ========================================================================== HTML5 display definitions ========================================================================== */
a img, img a { border: 0; }

/** Correct `block` display not defined in IE 6/7/8/9 and Firefox 3. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/** Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3. */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address styling not present in IE 7/8/9, Firefox 3, and Safari 4. Known issue: no IE 6 support. */
[hidden] { display: none; }

/* ========================================================================== Base ========================================================================== */
/** 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using `em` units. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-size: 100%; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Address `font-family` inconsistency between `textarea` and other form elements. */
html, button, input, select, textarea { font-family: sans-serif; }

/** Address margins handled incorrectly in IE 6/7. */
body { margin: 0; }

/* ========================================================================== Links ========================================================================== */
/** Address `outline` inconsistency between Chrome and other browsers. */
a:focus { outline: thin dotted; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/* ========================================================================== Typography ========================================================================== */
/** Address font sizes and margins set differently in IE 6/7. Address font sizes within `section` and `article` in Firefox 4+, Safari 5, and Chrome. */
h1 { margin: 0.67em 0; }

h2 { margin: 0.83em 0;}

h3 { font-size: 1.17em; margin: 1em 0; }

h4 { font-size: 1em; margin: 1.33em 0; }

h5 { font-size: 0.83em; margin: 1.67em 0; }

h6 { font-size: 0.67em; margin: 2.33em 0; }

/** Address styling not present in IE 7/8/9, Safari 5, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome. */
b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

/** Address styling not present in Safari 5 and Chrome. */
dfn { font-style: italic; }

/** Address differences between Firefox and other browsers. Known issue: no IE 6/7 normalization. */
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

/** Address styling not present in IE 6/7/8/9. */
mark { background: #ff0; color: #000; }

/** Address margins set differently in IE 6/7. */
p, pre { margin: 1em 0; }

/** Correct font family set oddly in IE 6, Safari 4/5, and Chrome. */
code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/** Improve readability of pre-formatted text in all browsers. */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

/** Address CSS quotes not supported in IE 6/7. */
q { quotes: none; }

/** Address `quotes` property not supported in Safari 4. */
q:before, q:after { content: ''; content: none; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* ========================================================================== Lists ========================================================================== */
/** Address margins set differently in IE 6/7. */
dl, menu, ol, ul { margin: 1em 0; }

dd { margin: 0 0 0 40px; }

/** Address paddings set differently in IE 6/7. */
menu, ol, ul { padding: 0 0 0 40px; }

/** Correct list images handled incorrectly in IE 7. */
nav ul, nav ol { list-style: none; list-style-image: none; }

/* ========================================================================== Embedded content ========================================================================== */
/** 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3. 2. Improve image quality when scaled in IE 7. */
img { border: 0; /* 1 */ -ms-interpolation-mode: bicubic; /* 2 */ }

/** Correct overflow displayed oddly in IE 9. */
svg:not(:root) { overflow: hidden; }

/* ========================================================================== Figures ========================================================================== */
/** Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11. */
figure { margin: 0; }

/* ========================================================================== Forms ========================================================================== */
/** Correct margin displayed oddly in IE 6/7. */
form { margin: 0; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct color not being inherited in IE 6/7/8/9. 2. Correct text not wrapping in Firefox 3. 3. Correct alignment displayed oddly in IE 6/7. */
legend { border: 0; /* 1 */ padding: 0; white-space: normal; /* 2 */ *margin-left: -7px; /* 3 */ }

/** 1. Correct font size not being inherited in all browsers. 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5, and Chrome. 3. Improve appearance and consistency in all browsers. */
button, input, select, textarea { font-size: 100%; /* 1 */ margin: 0; /* 2 */ vertical-align: baseline; /* 3 */ *vertical-align: middle; /* 3 */ }

/** Address Firefox 3+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
button, input { line-height: normal; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+. Correct `select` style inheritance in Firefox 4+ and Opera. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. 4. Remove inner spacing in IE 7 without affecting normal text inputs. Known issue: inner spacing remains in IE 6. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ *overflow: visible; /* 4 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** 1. Address box sizing set to content-box in IE 8/9. 2. Remove excess padding in IE 8/9. 3. Remove excess padding in IE 7. Known issue: excess padding remains in IE 6. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ *height: 13px; /* 3 */ *width: 13px; /* 3 */ }

/** 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome. 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari 5 and Chrome on OS X. */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Remove inner padding and border in Firefox 3+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** 1. Remove default vertical scrollbar in IE 6/7/8/9. 2. Improve readability and alignment in all browsers. */
textarea { overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }

/* ========================================================================== Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

/**
	A11Y
**/
.a11y { top: -50px; position: absolute; left: 50%; font-weight: 400; margin-left: -30px; background-color: #FFF8C2; padding: 5px 10px; border: 1px solid #CA6100; text-transform: uppercase; color: #000; text-decoration: none; }

.a11y:focus { top: 0; }

.ie10 a:focus, .ie9 a:focus, .lt-ie9 a:focus { outline: 1px dotted #BBB; }

@font-face { font-family: 'Montserrat'; src: url("../fonts/Montserrat/Montserrat-Black-webfont.eot"); src: url("../fonts/Montserrat/Montserrat-Black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Black-webfont.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Black-webfont.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Black-webfont.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Black-webfont.svg#montserratblack") format("svg"); font-weight: 900; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
@font-face { font-family: 'Montserrat'; src: url("../fonts/Montserrat/Montserrat-Bold-webfont.eot"); src: url("../fonts/Montserrat/Montserrat-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold-webfont.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Bold-webfont.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold-webfont.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Bold-webfont.svg#montserratbold") format("svg"); font-weight: 700; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
@font-face { font-family: 'Montserrat'; src: url("../fonts/Montserrat/Montserrat-Light-webfont.eot"); src: url("../fonts/Montserrat/Montserrat-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Light-webfont.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Light-webfont.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Light-webfont.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Light-webfont.svg#montserratlight") format("svg"); font-weight: 300; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
@font-face { font-family: 'Montserrat'; src: url("../fonts/Montserrat/Montserrat-Regular-webfont.eot"); src: url("../fonts/Montserrat/Montserrat-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular-webfont.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular-webfont.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular-webfont.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Regular-webfont.svg#montserratregular") format("svg"); font-weight: normal; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
@font-face { font-family: 'Montserrat'; src: url("../fonts/Montserrat/Montserrat-Thin-webfont.eot"); src: url("../fonts/Montserrat/Montserrat-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Thin-webfont.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Thin-webfont.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Thin-webfont.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Thin-webfont.svg#montserratthin") format("svg"); font-weight: 100; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
/*
@font-face { font-family: 'Open Sans'; src: url("../fonts/openSans/opensans-light-webfont.eot"); src: url("../fonts/openSans/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/openSans/opensans-light-webfont.woff2") format("woff2"), url("../fonts/openSans/opensans-light-webfont.woff") format("woff"), url("../fonts/openSans/opensans-light-webfont.ttf") format("truetype"), url("../fonts/openSans/opensans-light-webfont.svg#open_sanslight") format("svg"); font-weight: 100; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
*/
@font-face { font-family: 'Open Sans'; src: url("../fonts/openSans/opensans-regular-webfont.eot"); src: url("../fonts/openSans/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/openSans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/openSans/opensans-regular-webfont.woff") format("woff"), url("../fonts/openSans/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/openSans/opensans-regular-webfont.svg#open_sansregular") format("svg"); font-weight: normal; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
/*
@font-face { font-family: 'Open Sans'; src: url("../fonts/openSans/opensans-italic-webfont.eot"); src: url("../fonts/openSans/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/openSans/opensans-italic-webfont.woff2") format("woff2"), url("../fonts/openSans/opensans-italic-webfont.woff") format("woff"), url("../fonts/openSans/opensans-italic-webfont.ttf") format("truetype"), url("../fonts/openSans/opensans-italic-webfont.svg#open_sansitalic") format("svg"); font-weight: normal; font-style: italic; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
*/
@font-face { font-family: 'Open Sans Semibold'; src: url("../fonts/openSans/opensans-semibold-webfont.eot"); src: url("../fonts/openSans/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/openSans/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/openSans/opensans-semibold-webfont.woff") format("woff"), url("../fonts/openSans/opensans-semibold-webfont.ttf") format("truetype"), url("../fonts/openSans/opensans-semibold-webfont.svg#open_sanssemibold") format("svg"); font-weight: 500; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
@font-face { font-family: 'Open Sans Bold'; src: url("../fonts/openSans/opensans-bold-webfont.eot"); src: url("../fonts/openSans/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/openSans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/openSans/opensans-bold-webfont.woff") format("woff"), url("../fonts/openSans/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/openSans/opensans-bold-webfont.svg#open_sansbold") format("svg"); font-weight: 700; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
/*
@font-face { font-family: 'IA_icons'; src: url("../fonts/IA_icons/IA_icons.eot"); src: url("../fonts/IA_icons/IA_icons.eot?#iefix") format("embedded-opentype"), url("../fonts/IA_icons/IA_icons.woff") format("woff"), url("../fonts/IA_icons/IA_icons.ttf") format("truetype"), url("../fonts/IA_icons/IA_icons.svg#AftaserifRegular") format("svg"); font-weight: normal; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
*/

[class^="icone-"]:before, [class*=" icone-"]:before { font-family: 'IA_icons'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icone-tuile-plus:before { content: "\e6b2"; }

.icone-tuile-x:before { content: "\e6b3"; }

.icone-menu-particuliers:before { content: "\e637"; }

.icone-epargne-menu:before { content: "\e626"; }

.icone-service:before { content: "\e627"; }

.icone-technologie:before { content: "\e6af"; }

.icone-viseur:before { content: "\e6b0"; }

.icone-partnership:before { content: "\e6b1"; }

.icone-65-plus:before { content: "\e600"; }

.icone-profil:before { content: "\e601"; }

.icone-actuariat:before { content: "\e602"; }

.icone-admin-compatbilite:before { content: "\e603"; }

.icone-adresse:before { content: "\e604"; }

.icone-archives:before { content: "\e605"; }

.icone-auto-location:before { content: "\e606"; }

.icone-exclamation-formulaire:before { content: "\e607"; }

.icone-exclamation-rond:before { content: "\e608"; }

.icone-balance:before { content: "\e609"; }

.icone-bureau:before { content: "\e60a"; }

.icone-calculateur:before { content: "\e60b"; }

.icone-calendrier:before { content: "\e60c"; }

.icone-calendrier-rond:before { content: "\e60d"; }

.icone-roulotte:before { content: "\e60e"; }

.icone-chevron:before { content: "\e60f"; }

.icone-clef:before { content: "\e610"; }

.icone-collectif:before { content: "\e611"; }

.icone-commerce:before { content: "\e612"; }

.icone-marketing:before { content: "\e613"; }

.icone-presse:before { content: "\e614"; }

.icone-boussole:before { content: "\e615"; }

.icone-courriel:before { content: "\e616"; }

.icone-crochet:before { content: "\e617"; }

.icone-delit-fuite:before { content: "\e618"; }

.icone-entretien:before { content: "\e619"; }

.icone-moins:before { content: "\e61a"; }

.icone-plus:before { content: "\e61b"; }

.icone-liens-externes:before { content: "\e61c"; }

.icone-feu:before { content: "\e61d"; }

.icone-fleche-droite:before { content: "\e61e"; }

.icone-produit-fleche-droite:before { content: "\e61f"; }

.icone-fleche-gauche:before { content: "\e620"; }

.icone-formulaire-documents:before { content: "\e621"; }

.icone-formulaire-documents-rond:before { content: "\e622"; }

.icone-glossaire:before { content: "\e623"; }

.icone-heures:before { content: "\e624"; }

.icone-home:before { content: "\e625"; }

.icone-print:before { content: "\e628"; }

.icone-individuel-celibataire:before { content: "\e629"; }

.icone-info-creve:before { content: "\e62a"; }

.icone-infolettre:before { content: "\e62b"; }

.icone-informatique:before { content: "\e62c"; }

.icone-info-tuile:before { content: "\e62d"; }

.icone-gestion:before { content: "\e62e"; }

.icone-liste-puces:before { content: "\e62f"; }

.icone-menu-assurance:before { content: "\e630"; }

.icone-menu-assurance-collective:before { content: "\e631"; }

.icone-cadenas:before { content: "\e632"; }

.icone-entreprise-groupes:before { content: "\e633"; }

.icone-fleche-menu:before { content: "\e634"; }

.icone-immobilier-menu:before { content: "\e635"; }

.icone-loupe:before { content: "\e636"; }

.icone-menu-prets:before { content: "\e638"; }

.icone-menu-services:before { content: "\e639"; }

.icone-moto:before { content: "\e63a"; }

.icone-motoneige:before { content: "\e63b"; }

.icone-multi-residentiels:before { content: "\e63c"; }

.icone-aucun:before { content: "\e63d"; }

.icone-periag:before { content: "\e63e"; }

.icone-piedpage-conseiller:before { content: "\e63f"; }

.icone-piedpage-questions:before { content: "\e640"; }

.icone-piedpage-reclamation:before { content: "\e641"; }

.icone-piedpage-telephone:before { content: "\e642"; }

.icone-etiquette:before { content: "\e643"; }

.icone-question:before { content: "\e644"; }

.icone-recherche:before { content: "\e645"; }

.icone-reclamation:before { content: "\e646"; }

.icone-refresh:before { content: "\e647"; }

.icone-rh:before { content: "\e648"; }

.icone-sante:before { content: "\e649"; }

.icone-scooter:before { content: "\e64a"; }

.icone-serie-avie:before { content: "\e64b"; }

.icone-service-client:before { content: "\e64c"; }

.icone-service-client-rond:before { content: "\e64d"; }

.icone-service-client-admin:before { content: "\e64e"; }

.icone-web:before { content: "\e64f"; }

.icone-social-facebook:before { content: "\e650"; }

.icone-social-google-plus:before { content: "\e651"; }

.icone-social-linkedIn:before { content: "\e652"; }

.icone-social-twitter:before { content: "\e653"; }

.icone-social-youtube:before { content: "\e654"; }

.icone-soumission:before { content: "\e655"; }

.icone-etudiant:before { content: "\e656"; }

.icone-telechargement:before { content: "\e657"; }

.icone-telecopieur:before { content: "\e658"; }

.icone-telephone:before { content: "\e659"; }

.icone-terre:before { content: "\e65a"; }

.icone-toucher:before { content: "\e65b"; }

.icone-astuces:before { content: "\e65c"; }

.icone-dollar:before { content: "\e65d"; }

.icone-validation-ok:before { content: "\e65e"; }

.icone-validation-erreur:before { content: "\e65f"; }

.icone-vente-affaires:before { content: "\e660"; }

.icone-voiture-replace:before { content: "\e661"; }

.icone-voiture-collision:before { content: "\e662"; }

.icone-voiture:before { content: "\e663"; }

.icone-vr:before { content: "\e664"; }

.icone-vtt:before { content: "\e665"; }

.icone-hub-accident-corporel:before { content: "\e666"; }

.icone-hub-accident-groupes:before { content: "\e667"; }

.icone-hub-assurance-collective:before { content: "\e668"; }

.icone-hub-assurance-hypothecaire:before { content: "\e669"; }

.icone-hub-assurance-vie:before { content: "\e66a"; }

.icone-hub-assurances:before { content: "\e66b"; }

.icone-hub-auto:before { content: "\e66c"; }

.icone-hub-epargne:before { content: "\e66d"; }

.icone-hub-fonds:before { content: "\e66e"; }

.icone-hub-habitation:before { content: "\e66f"; }

.icone-hub-immobilier:before { content: "\e670"; }

.icone-hub-maladie:before { content: "\e671"; }

.icone-hub-pret-hypothecaire:before { content: "\e672"; }

.icone-hub-pret:before { content: "\e673"; }

.icone-hub-reee:before { content: "\e674"; }

.icone-hub-reer:before { content: "\e675"; }

.icone-hub-risques:before { content: "\e676"; }

.icone-hub-concessionnaires:before { content: "\e677"; }

.icone-hub-valeurs-mobilieres:before { content: "\e678"; }

.icone-app-store-fr .path1:before { content: "\e679"; color: #a6a6a6; }

.icone-app-store-fr .path2:before { content: "\e67a"; margin-left: -3.375em; color: black; }

.icone-app-store-fr .path3:before { content: "\e67b"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path4:before { content: "\e67c"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path5:before { content: "\e67d"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path6:before { content: "\e67e"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path7:before { content: "\e67f"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path8:before { content: "\e680"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path9:before { content: "\e681"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path10:before { content: "\e682"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path11:before { content: "\e683"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path12:before { content: "\e684"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path13:before { content: "\e685"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path14:before { content: "\e686"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path15:before { content: "\e687"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path16:before { content: "\e688"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path17:before { content: "\e689"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path18:before { content: "\e68a"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path19:before { content: "\e68b"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path20:before { content: "\e68c"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path21:before { content: "\e68d"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path22:before { content: "\e68e"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path23:before { content: "\e68f"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path24:before { content: "\e690"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path25:before { content: "\e691"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path26:before { content: "\e692"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path27:before { content: "\e693"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path28:before { content: "\e694"; margin-left: -3.375em; color: white; }

.icone-app-store-fr .path29:before { content: "\e695"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path1:before { content: "\e696"; color: #a6a6a6; }

.icone-app-store-en .path2:before { content: "\e697"; margin-left: -3.375em; color: black; }

.icone-app-store-en .path3:before { content: "\e698"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path4:before { content: "\e699"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path5:before { content: "\e69a"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path6:before { content: "\e69b"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path7:before { content: "\e69c"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path8:before { content: "\e69d"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path9:before { content: "\e69e"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path10:before { content: "\e69f"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path11:before { content: "\e6a0"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path12:before { content: "\e6a1"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path13:before { content: "\e6a2"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path14:before { content: "\e6a3"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path15:before { content: "\e6a4"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path16:before { content: "\e6a5"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path17:before { content: "\e6a6"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path18:before { content: "\e6a7"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path19:before { content: "\e6a8"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path20:before { content: "\e6a9"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path21:before { content: "\e6aa"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path22:before { content: "\e6ab"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path23:before { content: "\e6ac"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path24:before { content: "\e6ad"; margin-left: -3.375em; color: white; }

.icone-app-store-en .path25:before { content: "\e6ae"; margin-left: -3.375em; color: white; }

body { font-family: "Open Sans", sans-serif; color: #141414; }

h1, h2, h3, h4, h5, h6 { font-family: "Montserrat", sans-serif; }

strong {font-family: 'Open Sans Bold', sans-serif;}

/**
	TOOLS 
**/
.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }

.clear {clear:both;}

/* Good CSS bread */

body {border-top:26px solid #003da5;background:#d3d3d3;}
.top {background:url('../img/head-pic.jpg') center 89px no-repeat #FFFFFF;height:566px;}
.wrap {width:1140px;margin:0 auto;}

.wrap .head {height:89px;background:#FFFFFF;}
.wrap .head .logo {float:left;margin:18px 0 18px 34px;}
.wrap .head .lang {float:right;margin:54px 45px 0 0;text-transform:uppercase;font-size:14px;color:#2a2a2a;}
.wrap .head .lang a {text-decoration:none;color:#2a2a2a;}
.wrap .head .lang a:hover {color:#003da5;text-decoration:underline;}

.wrap .title {margin:210px 0 66px 45px;}
.wrap .title h1 {font-size:42px;margin:0 0 45px 0;color:#FFFFFF;}

.wrap .main {background:#FFFFFF;width:1060px;margin:0 auto 124px;padding:48px 40px;max-width:1060px;}
.wrap .main h1 {display:none;}
.wrap .main h2 {font-size:25px;margin:0 0 12px 0;}
.wrap .main h3 {font-size:20px;margin-top:0;color:#003da5;margin-bottom:8px;}
.wrap .main p {font-size:14px;}
.wrap .main .bloc-left {float:left;width:640px;margin-right:45px;margin-bottom:12px;}
.wrap .main .bloc-right {float:left;width:365px;}
.wrap .main .bloc-right a.btn {background:url('../img/btn.png') 0 0 no-repeat;width:276px;height:50px;padding:21px 0 0 89px;font-size:21px;font-family:'Open Sans Semibold', sans-serif;text-decoration:none;color:#464807;display:block;}
.wrap .main .bloc-right a.btn:hover {background-position:0 -71px;}

.wrap .main .bloc-gris {width:440px;float:left;margin:0 48px 0 0;background:url('../img/coin-bleu.png') top right no-repeat #f7f7f7;padding:28px 33px 35px;}
.wrap .main .bloc-gris p.rouge {background:url('../img/coin-rouge.png') 0 6px no-repeat;padding:0 20px 30px;margin:26px 0 20px 0;}
.wrap .main .bloc-gris p.line {border-bottom:1px solid #a0a0a0;margin-bottom:30px;}
.wrap .main .bloc-gris p.adj {padding-bottom:26px;margin:0;}
.wrap .main .bloc-gris p.last {padding-bottom:28px;}
.wrap .main .no-mrg, .wrap .main .bloc-gris p.no-mrg {margin:0;}

.wrap .main .bloc {margin:60px 0 40px 32px;}

.wrap .main .cotisation {padding:33px;background:#f3f3f3;}
.wrap .main .cotisation h3 {color:#000000;margin-bottom:18px;}
.wrap .main .cotisation table {float:left;margin-right:48px;width:468px;}
.wrap .main .cotisation table.mrg {margin:0;}
.wrap .main .cotisation table tr td {background:#e9e9e9;padding:20px 38px 0 20px;}
.wrap .main .cotisation table tr td span {font-size:12px;}
.wrap .main .cotisation table tr td.head-red {background:#d83521;padding:20px 35px 22px;}
.wrap .main .cotisation table tr td.head-blue {background:#003da5;padding:20px 35px 22px;}
.wrap .main .cotisation table tr td.first {padding-top:34px;}
.wrap .main .cotisation table tr td.red {color:#d83521;padding-right:0;text-align:right;}
.wrap .main .cotisation table tr td.blue {color:#003da5;padding-right:0;text-align:right;}
.wrap .main .cotisation table tr td.trait {padding:20px 0 0 38px;}
.wrap .main .cotisation table tr td.total-a {padding:0;text-align:right;}
.wrap .main .cotisation table tr td.total-b {padding:0;}
.wrap .main .cotisation table tr td.last {padding-bottom:45px;}

.wrap .main .cotisation .diff {color:#003da5;width:400px;margin:0 auto 14px;font-size:20px;text-align:center;}
.wrap .main .cotisation .diff h2 {margin:0 0 8px 0;}
.wrap .main .cotisation .diff span {font-family:'Montserrat', sans-serif;font-size:50px;}

.wrap .main .cotisation .col-a, .wrap .main .cotisation .col-b {float:left;}
.wrap .main .cotisation .col-a {width:255px;padding:0 75px 0 0;}
.wrap .main .cotisation .col-a p.rouge {background:url('../img/coin-rouge.png') 0 6px no-repeat;padding:0 20px 0;margin:26px 0 20px 0;}
.wrap .main .cotisation .col-b {width:622px;}
.wrap .main .cotisation .col-b span {display:block;float:left;font-size:14px;}
.wrap .main .cotisation .col-b span.blanc {color:#141414;background:#FFFFFF;padding:11px 15px 10px;margin:0 0 9px 0;}
.wrap .main .cotisation .col-b span.bleu {width:105px;color:#FFFFFF;background:#003da5;padding:11px 15px 10px;margin:0 0 9px 0;}
.wrap .main .cotisation .col-b span.second {width:190px;}
.wrap .main .cotisation .col-b span.third {width:320px;}
.wrap .main .cotisation .col-b span.fourth {width:460px;}

.wrap .main .bloc-left.bot {padding-top:60px;}
.wrap .main .bloc-right.bot {padding-top:60px;}

.wrap-foot {border-top:48px solid #003da5;background:#FFFFFF;}
.wrap-foot .foot {margin:0 auto;width:1140px;padding:70px 0 135px 0;}
.wrap-foot .foot ul {list-style-type:none;margin:0 0 40px;padding:0;}
.wrap-foot .foot ul li {margin:0 22px 0 0;padding:0;float:left;}
.wrap-foot .foot ul li a {display:block;width:25px;height:25px;}
.wrap-foot .foot ul li.fb a {background:url('../img/fb.png') 0 0 no-repeat;}
.wrap-foot .foot ul li.tw a {background:url('../img/tw.png') 0 0 no-repeat;}
.wrap-foot .foot ul li.lk a {background:url('../img/lk.png') 0 0 no-repeat;}
.wrap-foot .foot ul li.yt a {background:url('../img/yt.png') 0 0 no-repeat;}
.wrap-foot .foot .slogan {border-top:1px solid #dedede;padding:20px 0 0 0;}
.wrap-foot .foot .slogan img {float:left;}
.wrap-foot .foot .slogan p {float:right;font-size:11px;color:#787878;margin-top:0;}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {
	.wrap .head .lang {float:left;margin:54px 45px 0 96px;}
	.wrap .title {margin:210px 0 66px 24px;height:130px;}
	.wrap .title h1 {display:none;}
    .wrap .main {width:400px;margin:0;padding:20px 22px;}
    .wrap .main h1 {font-size:25px;color:#003da5;display:block;}
    .wrap .main h2 {font-size:18px;margin-bottom:14px;color:#003da5;}
    .wrap .main h3 {font-size:14px;color:#000000;}
	.wrap .main .bloc-left {width:260px;}
	.wrap .main .bloc-right {width:260px;}
	.wrap .main .bloc-right a.btn {margin-bottom:20px;background:url('../img/btn-tel.png') 0 0 no-repeat;width:198px;height:36px;padding:14px 0 0 62px;font-size:18px;font-family:'Open Sans Semibold', sans-serif;text-decoration:none;color:#464807;display:block;}
	.wrap .main .bloc-right a.btn:hover {background-position:0 -51px;}
	.wrap .main .bloc-gris {padding:20px;width:220px;margin-top:20px;}
	.wrap .main .bloc {margin: 30px 0 40px 41px;width: 180px;}
	.wrap .main .cotisation {width:220px;padding:20px;}
	.wrap .main .cotisation table {width:218px;}
	.wrap .main .cotisation table tr td {font-size:14px;}
	.wrap .main .cotisation table tr td.trait {padding:20px 0 0 20px;}
	.wrap .main .cotisation table tr td.first {padding-top:20px;}
	.wrap .main .cotisation table tr td.head-red {padding:20px 20px 22px;}
	.wrap .main .cotisation table tr td.head-blue {padding:20px 20px 22px;}
	.wrap .main .cotisation .col-a {width:196px;}
	.wrap .main .cotisation .col-b {width:196px;}
	.wrap .main .cotisation .col-b span.blanc {margin-bottom:0;}
	.wrap .main .cotisation .col-b span.bleu {margin-bottom:12px;width:84px;}
	.wrap .main .cotisation .col-b span.second {width:104px;}
	.wrap .main .cotisation .col-b span.third {width:124px;}
	.wrap .main .cotisation .col-b span.fourth {width:144px;}
	.wrap .main .cotisation .diff {width:220px;}
	.wrap .main .bloc-left.bot {padding-top: 20px;}
	.wrap .main .bloc-right.bot {padding:20px 0 20px;}
	.wrap .main .bloc-right.bot img {width:260px;height:auto;}
	.wrap-foot .foot {padding:20px;} 
	.wrap-foot .foot .slogan {width:330px;}
	.wrap-foot .foot .slogan img {width:275px;height:auto;}
	.wrap-foot .foot .slogan p {margin-top:30px;}
}


@media screen and (min-width: 481px) and (max-width: 768px) { 
    .wrap .head .lang {float:left;margin:54px 45px 0 255px;}
    .wrap .title h1 {font-size:28px;}
    .wrap .main {width:728px;margin:0;padding:42px 40px;}
    .wrap .main h1 {display:none;}
    .wrap .main h2 {font-size:21px;margin-bottom:14px;}
    .wrap .main h3 {font-size:16px;}
    .wrap .main .bloc-gris {margin-bottom:30px;width:360px;}
    .wrap .main .bloc-left {width:420px;}
    .wrap .main .bloc-right a.btn {margin-bottom:30px;}
    .wrap .main .bloc {margin: 0 0 30px;width:360px;}
    .wrap .main .cotisation {width:360px;}
    .wrap .main .cotisation table {width:360px;margin-bottom:30px;}
    .wrap .main .cotisation .col-b {width:330px;}
    .wrap .main .cotisation .col-b span.bleu {margin-bottom:12px;width:84px;}
	.wrap .main .cotisation .col-b span.second {width:104px;}
	.wrap .main .cotisation .col-b span.third {width:124px;}
	.wrap .main .cotisation .col-b span.fourth {width:144px;}
    .wrap .main .cotisation .diff {margin:0 0 0 -22px;}
    .wrap-foot .foot {padding:48px 40px;} 
    .wrap .main .bloc-right.bot {padding:30px 0 0 0;}
    .wrap .main .bloc-right.bot img {width:260px;height:auto;}
    .wrap-foot .foot .slogan {width:330px;}
    .wrap-foot .foot .slogan p {margin-top:30px;}
}

@media screen and (min-width: 769px) {
    
}